body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: 'Londrina Solid', cursive
} 

h2 {
    color: #f70000;
}

header h2 {
    color: yellow;
}

.navbar {
    background-color: rgb(0, 195, 255);
}

footer {
    background-image: linear-gradient(rgb(0, 195, 255), white);
    padding: 20px 0;
} 

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, rgb(0, 195, 255), orange,yellow);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

#buttons {
    font-family: 'Londrina Solid', cursive;
    font-size: 35px
}